In [4]:
1
# This is a comment

1

## Combines (concatenates) strings.

In [12]:
type("Sebastian")
type("bach")
string1 = "Sebastian"
string2 = " Bach"
concatenated_string = string1 + string2 
print(concatenated_string)

Sebastian Bach

In [15]:
result = "Hello" + " John"
print(result)

Hello John

## - Integer - Float - Boolean - String

In [21]:
x=7 
# Integer Value 
y=12.4 
# Float Value 
is_valid = True 
# Boolean Value 
is_valid = False 
# Boolean Value 
F_Name = "John" 
# String Value

print(type(x))
print(type(y))
print(type(is_valid))
print(type(F_Name))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

## Accesses character at a specific index.

In [31]:
my_string="Hello" 
char = my_string[0]
print(char)

H

## Returns the length of a string.

In [38]:
my_string="Hello" 
length = len(my_string)
print(my_string)

Hello

## Converts string to lowercase.

In [74]:
my_string="HELLO" 
uppercase_text = my_string.lower()
print(uppercase_text)

hello

## Prints the message or variable inside `()`.

In [48]:
print("Hello, world") 
a="Hello"
b="world"
print(a+b)

Hello, world
Helloworld

# Python Operations

### - Addition (+): Adds two values together.
### - Subtraction (-): Subtracts one value from another.
### - Multiplication (*): Multiplies two values.
### - Division (/): Divides one value by another, returns a float.
### - Floor Division (//): Divides one value by another, returns the quotient as an integer.
### - Modulo (%): Returns the remainder after division.

In [47]:
x = 9 
y = 4 
result_add= x + y # Addition 
result_sub= x - y # Subtraction 
result_mul= x * y # Multiplication 
result_div= x / y # Division 
result_fdiv= x // y # Floor Division 
result_mod= x % y # Modulo</td>
print(result_add)
print(result_sub)
print(result_mul)
print(result_div)
print(result_fdiv)
print(result_mod)

13
5
36
2.25
2
1

## Replaces substrings.

In [50]:
my_string="Hello" 
new_text = my_string.replace("Hello", "Hi")
print(new_text)

Hi

# Extracts a portion of the string.

In [55]:
my_string="Hello" 
substring = my_string[0:5]
print(substring)

Hello

## Splits string into a list based on a delimiter.

In [61]:
my_string="Hello" 
split_text = my_string.split(",")
print(split_text)

['Hello']

## Removes leading/trailing whitespace.

In [70]:
my_string="     Hello    " 
trimmed = my_string.strip()
print(trimmed)

Hello

## Converts string to uppercase.

In [71]:
my_string="Hello" 
uppercase_text = my_string.upper()
print(uppercase_text)

HELLO

## Assigns a value to a variable.

In [72]:
name="John" 
# assigning John to variable name 
x = 5 
# assigning 5 to variable x

In [73]:
print(name)
print(x)

John
5